.tutor-card{
        margin:5% 1% 1% 1%;
        border-radius: 20px;
        width:370px;
        height:630px;
        background-color:white;
        box-shadow: 10px 2px 50px 10px #ddd;
}
.cover-picture{
        width: 90%;
        height: 330px;
        background-color: rgb(35, 164, 173);
        margin:-10% 5% 5% 5%;
        border-radius: 20px;
        text-align: center;
}
.profile-picture{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        margin: auto;
}
.cover-picture h2,p{
        color:#fff;
        margin-top:15px;
}
.cover-picture h2{
        font-weight: 800;
}
.contact-details{
        margin-top: 2px;
}
.contact-details b{
        font-weight: 800;
        color:rgb(35, 164, 173) ;
}
.contact-details p{
        color:#aaa

}

.social-links {
        width: 90%;
        background-color:rgb(35, 164, 173) ;
        height: 50px;
        margin:0% 0% 5% 5%;
        border-radius: 15px;
        border: none;
        font-weight: 800;
        color: #fff;
        display: flex;
        padding-top: 20px;
        justify-content: space-evenly;
}
.social-links button:hover{

        background-color:rgb(12, 61, 65) ;
}
fa-icon{
        font-size: 23px;
        color: #eee;
    }
    