<div style="height: 100px;">

</div>
  <div  style="max-width: 450px;margin: auto;display: flex;align-content:center">
    <div class="tutor-card" style="margin:auto">
      <div class="cover-picture">
        <br>
        <div class="profile-picture">
          <img src="https://marketplace.canva.com/EAFEits4-uw/1/0/1600w/canva-boy-cartoon-gamer-animated-twitch-profile-photo-oEqs2yqaL8s.jpg" style="width:100%;height:100%;border-radius: 10%;">
        </div>
        <h2>MAFADI LEPHAKA</h2>
        <p style="font-weight: 700;">Aspiring Software Engineer</p>
        <div style="display: flex;justify-content: space-evenly;margin-top: -15px;">
          <div>
            <p style="color:#eee;font-size: 13px;"><fa-icon [icon]="faEnvelope" style="font-size: 14px;padding-right:5px;"></fa-icon>Email@gmail.com </p>
          </div>
          <div>
            <p style="color:#eee;font-size: 12px;"><fa-icon [icon]="faSquarePhone" style="font-size: 14px;padding-right:5px;"></fa-icon>0897654321</p>
          </div>
        </div>
      </div>
      <div >
        <div style="padding-left: 20px;padding-right: 20px;">
            <p style="color: rgb(35, 164, 173);text-align:justify;font-size: 14px;padding:15px;border-radius: 20px;background-color:aliceblue;">As a aspiring Software Engineer, I am driven by a strong desire to contribute to the betterment of society through the power of technology. With a natural talent for rapid learning, I possess the ability to quickly grasp new concepts and adapt to diverse challenges and emerging technologies. I am driven by a passion to develop innovative solutions that address real-world challenges and enhance the lives of individuals and communities. I am prepared to make a meaningful impact as a Software Engineer.</p>
        </div>

        <!-- <div class="contact-details" style="display: flex;; padding-left:10px">
          <div style="padding-left: 10px;">
            <p><b>Contact</b></p>
            <p style="margin-top: -20px;"><fa-icon [icon]="faSquarePhone"></fa-icon>  073456789</p>
          </div>
        </div>
        <div class="contact-details" style="display: flex;margin-top: -30px; padding-left:10px">
          <div style="padding-left: 10px;">
            <p><b>Email</b></p>
            <p style="margin-top: -20px;"><fa-icon [icon]="faEnvelope"></fa-icon>  Email@gmail.com</p>
          </div>
        </div>
        <div class="contact-details" style="display: flex;margin-top: -30px; padding-left:10px">
          <div style="padding-left: 10px;">
            <p ><b>Location</b></p>
            <p style="margin-top: -20px;"><fa-icon [icon]="faLocationDot"></fa-icon>  Pretoria, Gauteng</p>
          </div>
        </div>
        <div class="contact-details" style="display: flex;margin-top: -30px; padding-left:10px">
          <div style="padding-left: 10px;">
            <p ><b>Education</b></p>
            <p style="margin-top: -20px;"><fa-icon [icon]="faBookOpen"></fa-icon>  Teacher</p>
          </div>
        </div> -->
      </div>
      
      <div class="social-links">
        <!-- <button>Message Me</button> -->
        <div>
          <a><fa-icon [icon]="faSquareWhatsapp"></fa-icon></a>
        </div>
        <div>
          <a><fa-icon [icon]="faSquareGithub"></fa-icon> </a>
        </div>
        <div>
          <a><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
        <!-- <div>
          <p><fa-icon [icon]="faSquareInstagram"></fa-icon></p>
        </div> -->
        <div>
          <a><fa-icon [icon]="faTelegram"></fa-icon></a>
        </div>


      </div>
    </div>
  </div>
